@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Inter:wght@200;300;400;500;700&family=Lobster&family=Montserrat:wght@200;300;500;600&family=PT+Serif:ital@1&family=Passions+Conflict&display=swap');

:root {
    --header-height-defaultUi: 60px;
    --width-defaultUi: 1150px; 
    --width-sideBar-defaultUi: 356px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeSpeed;
}