.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: var(--header-height-defaultUi);
    width: var(--width-defaultUi);
    max-width: 100%;
    height: 1000px;
    display: flex;
}

.content {
    flex: 1;
}